@model IEnumerable<Jane.Models.Post>

<h5>Results for <em>@ViewBag.Tag</em> tag:</h5>

<span>@ViewBag.Message</span>
@Html.Partial("PostList", Model)

@section aside
{
@Html.Action("TagCloud", "Tag")
}