@using Jane.Infrastructure
<header role="banner">
    <ul class="title-area inline-list">
        <li class="show-for-medium-up"><div class="avatar"><img class="avatar" alt="Cleve Littlefield" src="/Content/Images/avatar.jpg" /></div></li>
        <li class="name">
            <h1 itemprop="name"><a href="/" itemprop="url">@SiteConfiguration.SiteName.Value</a></h1>
            <span class="description">@SiteConfiguration.Description.Value</span>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
    </ul>
</header>
