@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="alert">Locked out.</h1>
    <h2 class="alert">This account has been locked out, please try again later.</h2>
</hgroup>
